package ${package.ServiceImpl};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${superServiceImplClassPackage};
import com.cayjin.backend.base.BasePage;
import com.cayjin.backend.base.BaseQuery;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import org.springframework.stereotype.Service;

import java.util.Map;

/**
 * $!{table.comment}
 *
 * @author ${author}
 * @date ${date}
 */
#set($entityName = ${entity.substring(0,1).toLowerCase()}+${entity.substring(1)})
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Override
    public BasePage queryPage(Map<String, Object> params) {
        IPage<${entity}> page = this.page(
                new BaseQuery<${entity}>().getPage(params),
                new QueryWrapper<>()
        );
        return new BasePage(page);
    }

}
